/* https://css-tricks.com/perfect-full-page-background-image/ */
html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  color: white;
}

.home-layout #title {
  font-size: 4em;
}

.home-layout #description {
  text-align: center;
  font-size: 1.5em;
}

.ccf-form-wrapper .field textarea {
  color: black;
}
